<h2>Auto top</h2>

    <li class='todo'>
        <form action="/complete" method="POST">
            <label>
                <span>{{title}}</span>
                <span>{{cost}}</span>
                <span>{{pictureUrl}}</span>
                <span>{{date}}</span>
                <span>{{discription}}</span>
                <span>{{pictures}}</span>

                <input type="hidden" value="{{_id}}" name="id">

            </label>
        </form>
    </li>